# Set the following file types, so that line endings are NEVER changed. The "binary" option does it.
# N.B. that git hooks do not work in GitHub Desktop (on Win), as a paradox, if they are with the CRLF endings.
pre-commit binary
# N.B. that here we need it also for tabular files, not only truly binary files! There in the current versions, we have CRLF as EOL and possbily LF inside single cells (in CSV).
*.csv binary
*.tsv binary
*.xlsx binary
*.png binary
# N.B.: This might cause troubles in merging and cherry-picking that they are understood by Git as binary :(
