# Set the following file types, so that line endings are NEVER changed. The "binary" option does it. N.B. that here we need it also for tabular files, not only truly binary files!
*.csv binary
*.tsv binary
*.xlsx binary
*.png binary
